POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=drills
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_APP_USER=app_user
POSTGRES_APP_PASSWORD=app_user_pass
REDIS_PASSWORD=default_secure_pass
REDIS_HOST=redis_cache
REDIS_PORT=6379
BACKEND_PORT=3002
FRONTEND_PORT=3001
BACKEND_INTERNAL_URL=http://nest_server:3002
LOG_LEVEL=info
OTEL_EXPORTER_OTLP_ENDPOINT=
LIST_STRATEGY=
KEYSET_TIEBREAK=
SEARCH_STRATEGY=
QUERY_COUNTER=
PG_PRELOAD=
